:root {
    --blue: #2a9d8f;
    --brown-light: #E9C46A;
    --pink-orange: #f4a261;
}

.button-1 {
    grid-area: one;
}
.button-2 {
    grid-area: two;
}
.button-3 {
    grid-area: three;
}
.button-4 {
    grid-area: four;
}
.button-5 {
    grid-area: five;
}
.button-6 {
    grid-area: six;
}
.button-7 {
    grid-area: seven;
}

.button-8 {
    grid-area: eight;
}

.button-9 {
    grid-area: nine;
}

.button-0 {
    grid-area: null;
}

.button-plus {
    grid-area: plus;
}

.button-minus {
    grid-area: minus;
}

.button-equal {
    grid-area: equal;
}

.button-multi {
    grid-area: multi;
}

.button-division {
    grid-area: division;
}

.button-dot {
    grid-area: dot;
}

.button-negative {
    grid-area: negative;
}

.button-backspace {
    grid-area: BS;
}

.button-clear {
    grid-area: C;
}

.button-cancelError {
    grid-area: CE;
}

.button-percent {
    grid-area: percent;
}

.button-squere {
    grid-area: squere;
}


body {
    align-items: center;
    background: linear-gradient(to bottom right, var(--brown-light) 5%, var(--pink-orange));
    display: flex;
    font-family: 'Lucida Sans';
    height: 100vh;
    justify-content: center;
    min-height: 400px;
    width: 100vw;
}

.calculator__main {
    background: var(--pink-orange);
    border: solid var(--brown-light) 8px;
    border-radius: 20px;
    box-shadow: 8px 8px 21px 2px rgba(0, 0, 0, 0.5);
    opacity: 0.8;
}

.claculator__screen {
    background: var(--blue);
    border-radius: 10px;
    color: #E9C46A;
    font-size: 30px;
    text-align: end;
    padding: 12px 10px;
    margin: 5px;
}

.calculator__keyboard {
    display: grid;
    gap: 5px;
    grid-auto-columns: 50px;
    grid-auto-rows: 40px 40px 50px 50px 50px 50px;
    grid-template-areas:
        'C CE BS BS'
        'percent squere division multi'
        'seven eight nine minus'
        'four five six plus'
        'one two three equal'
        'negative null dot equal';
    list-style-type: none;
    padding: 0;
    margin: 5px;
}

.keyboard {
    align-items: center;
    background: var(--brown-light);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    position: relative;
    isolation: isolate;
}

.keyboard__symbol ,
.keyboard__number {
    background: none;
    border: solid var(--blue) 1px;
    border-radius: 15px;
    color: var(--blue);
    font-size: 20px;
    height: 95%;
    width: 95%;
}

.key-backspace {
    width: 98%;
}

.key-equal {
    height: 98%;
}

.key__backspace--label::after,
.key__backspace--label::before{
    content: " ";
    position: absolute;
    z-index: -1;
    display: inline-block;
}

.key__backspace--label::before {
    border-bottom: 12px solid transparent;
    border-top: 12px solid transparent;
    border-right: 15px solid var(--blue);
    left: 26%;
    top: 20%;
}

.key__backspace--label::after {
    background: var(--blue);
    border-radius: 0 2px 2px 0;
    height: 13px;
    left: 40%;
    top: 34%;
    width: 30px;
}

.keyboard__number--border::before,
.keyboard__symbol--border::before,
.keyboard__number--border::after,
.keyboard__symbol--border::after {
    content: "";
    height: 16px;
    position: absolute;
    transition: width 0.2s, height 0.2s;
    width: 16px;
    z-index: -1;
}

.keyboard__number--border::after,
.keyboard__symbol--border::after{
    border-right: 1px solid var(--blue);
    border-bottom: 1px solid var(--blue);
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-radius: 0 0 12px 0;
    right: 5px;
    bottom: 5px;
    transition: width 0.35s, height 0.35s;
}

.keyboard__number--border::before,
.keyboard__symbol--border::before{
    border-bottom: 1px solid transparent;
    border-top: 1px solid var(--blue);
    border-left: 1px solid var(--blue);
    border-right: 1px solid transparent;
    border-radius: 12px 0 0 0;
    left: 5px;
    top: 5px;
}


.keyboard__number--border:hover::before,
.keyboard__symbol--border:hover::before,
.keyboard__number--border:hover::after,
.keyboard__symbol--border:hover::after{
    height: 50%;
    width: 50%;
}

.clickAnimationOne::before,
.clickAnimationOne::after {
    animation: borderMoveOne 0.35s 2 alternate;
}

.clickAnimationTwo::before,
.clickAnimationTwo::after {
    animation: borderMoveTwo 0.35s 2 alternate;
}

.clickAnimationThree::before,
.clickAnimationThree::after {
    animation: borderMoveThree 0.35s 2 alternate;
}

.clickAnimationFour::before,
.clickAnimationFour::after {
    animation: borderMoveFour 0.35s 2 alternate;
}

@keyframes borderMoveOne {
    100% {
        border-radius: 12px 12px 12px 12px;
        height: 38px;
        width: 38px;
    }
}

@keyframes borderMoveTwo {
    100% {
        border-radius: 12px 12px 12px 12px;
        height: 70%;
        width: 89%;
    }
}

@keyframes borderMoveThree {
    100% {
        border-radius: 12px 12px 12px 12px;
        height: 89%;
        width: 76.5%;
    }
}

@keyframes borderMoveFour {
    100% {
        border-radius: 12px 12px 12px 12px;
        height: 28px;
        width: 38px;
    }
}